fastapi
uvicorn
pandas
numpy
snowflake-connector-python
snowflake-sqlalchemy
sqlalchemy
openai
langchain
langgraph
python-dotenv
scikit-learn
prophet
plotly
streamlit
matplotlib
seaborn
joblib
python-dotenv
chardet
openai

google-genai